* {
  padding: 0;
  margin: 0;
}
.clear {
  *zoom: 1;
}
.clear:before,
.clear:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
.hidden {
  display: none;
}
body {
  font-family: "Prociono";
  text-align: center;
  font-size: 12pt;
  max-width: 500px;
  margin: 100px auto 20px;
  padding: 0 1em;
  position: relative;
  color: #222222;
  background-color: #ffffff;
}
code {
  background-color: #ffffff;
  color: #222222;
}
.highlight {
  position: relative;
  padding-top: 1em;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
}
.highlight:before {
  font-family: "Prociono";
  content: 'Code';
  display: inline-block;
  position: absolute;
  top: -1em;
  background-color: #ffffff;
  padding-right: 0.5em;
  font-size: 9pt;
  line-height: 2.1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.highlight pre {
  overflow-x: auto;
  padding-bottom: 1em;
}
hr {
  height: 1px;
  background-color: #222222;
  border: 0px;
  margin: 2.2em auto 2em auto;
  width: 92%;
}
#site-title h1 {
  left: 0;
  top: 0;
  z-index: 500;
  text-transform: uppercase;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 10px 30px 20px rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  overflow: visible;
  font-size: 50px;
  line-height: 70px;
  text-align: left;
}
#site-title h1 a {
  display: block;
  font-size: 1em;
  font-weight: normal;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  white-space: nowrap;
}
#site-title h1 a:hover {
  text-decoration: none;
  display: block;
}
#site-title h1 a .myName {
  position: absolute;
  top: 0.1em;
  right: -1em;
  font-size: 9pt;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-tranform: rotate(-90deg);
}
nav {
  *zoom: 1;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 9pt;
}
nav:before,
nav:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
nav ul {
  text-align: center;
}
nav ul:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.8em;
  margin-bottom: -0.8em;
  padding: 0;
  border-bottom: 1px solid #222222;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a {
  padding: 0 0.8em;
  margin: 0 1em;
  background-color: #ffffff;
}
a {
  color: #222222;
  text-decoration: none;
}
a:hover {
  color: #222222;
  text-decoration: underline;
}
.content {
  text-align: justify;
}
article {
  *zoom: 1;
  margin-bottom: 2.5em;
}
article:before,
article:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
article .post p:last-child {
  margin-bottom: 0;
}
article header {
  *zoom: 1;
  border-bottom: 1px solid #222222;
  line-height: 16pt;
  height: 0.8em;
  position: relative;
  margin-bottom: 0.8em;
}
article header:before,
article header:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
article header * {
  background-color: #ffffff;
}
article header:hover .tags {
  height: 2em;
  border-bottom-color: #222222;
}
article header .tags {
  height: 0px;
  overflow: hidden;
  clear: both;
  font-size: 9pt;
  padding-left: 2em;
  border-bottom: 1px solid #ffffff;
  z-index: 5;
  position: relative;
  transition: height 0.5s, border-bottom-color 0.5s, border-bottom-width 0s 0.5s;
  -moz-transition: height 0.5s, border-bottom-color 0.5s, border-bottom-width 0s 0.5s;
  -ms-transition: height 0.5s, border-bottom-color 0.5s, border-bottom-width 0s 0.5s;
  -webkit-transition: height 0.5s, border-bottom-color 0.5s, border-bottom-width 0s 0.5s;
  -o-transition: height 0.5s, border-bottom-color 0.5s, border-bottom-width 0s 0.5s;
}
article header .tags .tag {
  font-size: 9pt;
}
article header .tags .tag:after {
  content: ', ';
}
article header .tags .tag:first-child:before {
  content: 'tags: ';
}
article header .tags .tag:last-child:after {
  content: '';
}
article header .timestamp {
  height: 1.2em;
  position: absolute;
  right: 0;
  top: 1pt;
  font-size: 12pt;
  line-height: 1em;
  padding-right: 0;
  padding-left: 0.5em;
  margin-right: 0;
  overflow: hidden;
  cursor: default;
  z-index: 1;
}
article header .timestamp span {
  font-size: 12pt;
  background-color: transparent;
  position: relative;
  transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -ms-transition: top 0.2s linear;
  -webkit-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
}
article header .timestamp .time {
  position: absolute;
  top: -1.3em;
  right: 0;
}
article header .timestamp .date {
  top: 0em;
}
article header .timestamp:hover .time {
  top: 0em;
}
article header .timestamp:hover .date {
  top: 1.3em;
}
article header:hover .categories {
  height: 2em;
  border-bottom: 1px solid #111;
  transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -o-transition: height 0.5s;
}
article header h1,
article header h2,
article header h3,
article header h4,
article header h5 {
  padding-right: 0.5em;
  margin-bottom: 0;
  max-width: 70%;
  width: auto !important;
  width: 70%;
  z-index: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  position: relative;
  transition: max-width 0.2s;
  -moz-transition: max-width 0.2s;
  -ms-transition: max-width 0.2s;
  -webkit-transition: max-width 0.2s;
  -o-transition: max-width 0.2s;
  font-size: 9pt;
  line-height: 2.1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
article header h1:hover,
article header h2:hover,
article header h3:hover,
article header h4:hover,
article header h5:hover {
  max-width: 100%;
  transition: max-width 0.2s;
  -moz-transition: max-width 0.2s;
  -ms-transition: max-width 0.2s;
  -webkit-transition: max-width 0.2s;
  -o-transition: max-width 0.2s;
}
article header a {
  color: #111;
  text-decoration: none;
}
article header a:hover {
  color: #111;
  text-decoration: underline;
}
article footer {
  position: relative;
}
.readMore {
  text-transform: lowercase;
  font-size: 9pt;
  background: white;
  z-index: 2;
  float: right;
}
.readMore:hover:after {
  width: 1.5em;
  opacity: 1;
  transition: width 0.3s, opacity 0.2s 0.05s;
  -moz-transition: width 0.3s, opacity 0.2s 0.05s;
  -ms-transition: width 0.3s, opacity 0.2s 0.05s;
  -webkit-transition: width 0.3s, opacity 0.2s 0.05s;
  -o-transition: width 0.3s, opacity 0.2s 0.05s;
}
.readMore:after {
  content: "\00BB";
  height: 30pt;
  font-size: 30pt;
  line-height: 4pt;
  display: inline-block;
  width: 0em;
  overflow: hidden;
  z-index: 1;
  text-align: right;
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 0;
  transition: width 0.2s, opacity 0.1s;
  -moz-transition: width 0.2s, opacity 0.1s;
  -ms-transition: width 0.2s, opacity 0.1s;
  -webkit-transition: width 0.2s, opacity 0.1s;
  -o-transition: width 0.2s, opacity 0.1s;
}
.pagination {
  *zoom: 1;
}
.pagination:before,
.pagination:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
.pagination .previous {
  float: left;
}
.pagination .next {
  float: right;
}
p {
  line-height: 1.6em;
  margin: 1em 0;
}
p a {
  color: #2d2d2d;
  text-decoration: underline;
}
@media screen and (max-width: 480px) {
  #site-title h1 {
    text-align: center;
  }
  #site-title h1 .long-word {
    display: none;
  }
  #site-title h1 .myName {
    right: 0em;
  }
}
@media print {
  header#site-title,
  nav {
    display: none;
  }
  body {
    margin-top: 0;
    width: auto;
    max-width: none;
  }
  #resume {
    width: auto;
  }
}
