#resume {
  margin: 0 auto;
  position: relative;
  text-align: left;
}
#resume ul {
  padding-left: 0px;
  list-style-type: none;
}
#resume header {
  margin-bottom: 2em;
}
#resume header .level {
  font-size: 10pt;
}
#resume header .position {
  font-size: 14pt;
}
#resume header .phone {
  font-size: 10pt;
  margin-left: 2em;
}
#resume article {
  margin-bottom: 4em;
}
#resume article h3 {
  font-size: 16pt;
  margin-right: 0.5em;
  display: inline-block;
}
#resume article .organization {
  height: 16pt;
  display: inline-block;
}
#resume article .location {
  font-size: 9pt;
  text-transform: uppercase;
}
#resume article blockquote {
  margin: 1em 0;
  line-height: 1.6em;
  font-size: 11pt;
  text-align: justify;
}
@media screen and (min-width: 590px) {
  #resume {
    width: 590px;
    left: -45px;
  }
  #resume header .leftColumn,
  #resume header .rightColumn {
    width: 49%;
  }
  #resume .leftColumn {
    width: 415px;
  }
  #resume .rightColumn {
    width: 135px;
    text-align: right;
    float: right;
  }
}
