---
---

#resume {
	margin: 0 auto;
	position: relative;
	text-align: left;

	#email:after, #github:after {
		content: ": " attr(title);
	}

	ul {
		padding-left: 0px;
		list-style-type: none;
	}

	header {
		margin-bottom: 2em;

		.level {
			font-size: 10pt;
		}

		.position {
			font-size: 14pt;
		}

		.phone {
			font-size: 10pt;
			margin-left: 2em;
		}
	}

	article {
		margin-bottom: 4em;

		h3 {
			font-size: 16pt;
			margin-right: 0.5em;
			display: inline-block;
		}

		.organization {
			height: 16pt;
			display: inline-block;
		}

		.location {
			font-size: 9pt;
			text-transform: uppercase;
		}

		blockquote {
			margin: 1em 0;
			line-height: 1.6em;
			font-size: 11pt;
			text-align: justify;
		}
	}
}

@media screen and (min-width: 46em) {
	#resume {
		header {
			.leftColumn, .rightColumn {
				width: 49%;
			}
		}

		.leftColumn {
			width: 35em;
			float: left;
		}

		.rightColumn {
			width: 10em;
			text-align: right;
			float: right;
		}
	}
}

@media print {
	#resume {
		header {
			.leftColumn, .rightColumn {
				width: 49%;
			}
		}


		article {
			blockquote {
				font-size: 9pt;
			}

			header {
				margin-bottom: 1.4em;
			}

			margin-bottom: 0.8em;

			li:last-child {
				margin-bottom: 0;

				blockquote:last-child {
					margin-bottom: 0;
				}
			}
		}

		.leftColumn {
			float: left;
			margin-right: 12em;
		}

		.rightColumn {
			float: right;
			text-align: right;
			width: 10em;
			margin-left: -12em;
		}
	}
}
