---
layout: default
title: Resume
---

{% assign resume = site.data.resume %}

<!-- You're actually reading the raw HTML..? -->

<div id="resume">
	<header class="clearfix">
		<div class="rightColumn">
			<h1>
				{{ resume.basics.name }}
			</h1>
			<span class="level">Level 7</span>
			<span class="position">{{ resume.basics.label }}</span>
		</div>
		<div class="leftColumn">
			<div class="contact contact-email">
				<a href="{{ site.contact.email }}" id="email">Email</a>
				<noscript>This email address is encoded with rot13, javascript is required to decrypt it.</noscript>
			</div>
			{% for profile in resume.basics.profiles %}
			<div class="contact contact-{{ profile.network | lowercase }}">
				<a href="{{ profile.url | escape }}">{{ profile.network }}: {{ profile.username}}</a>
			</div>
			{% endfor %}
		</div>
	</header>

	<div class="clearfix">
		<div class="rightColumn" >
			<article id="skills_tools">
				<header title="In order of what makes the list visually pleasing">
					<h2 class="title">
						Tools I Use
					</h2>
				</header>
				<ul>
					{% for skill in resume.skills %}
						<li title="{{ skill.keywords | join: ', ' }}">{{ skill.name }}</li>
					{% endfor %}
				</ul>
			</article>
		</div>

		<div class="leftColumn">
			<article id="about_summary">
				<header>
					<h2 class="title">
						Tome of Magic
					</h2>
				</header>
				<blockquote>
					{{ resume.basics.goofySummary | markdownify }}
				</blockquote>
			</article>

			<article id="about_experience">
				<header>
					<h2 class="title">
						Experience Points
					</h2>
				</header>

				<ul>
					{% for experience in resume.work %}
						<li>
							<h3 class="title">{{ experience.position }}</h3>
							<h4 class="organization">
								<a href="{{ experience.website | default: '#' | escape }}">
									{{ experience.company }}
								</a>
							</h4>
							<h5 class="timeframe">
								<span title="{{ experience.startDate | escape }}">
									{{ experience.startDate | date: '%Y' }}
								</span>
								&mdash;
								<span title="{{ experience.endDate | default: 'Current' | escape }}">
									{% if experience.endDate %}
										{{ experience.endDate | date: '%Y'' }}
									{% else %}
										Current
									{% endif %}
								</span>
							</h5>
							<blockquote>
								{{ experience.goofySummary | markdownify }}
							</blockquote>
						</li>
					{% endfor %}
				</ul>
			</article>
		</div>
	</div>

	<div class="hidden-print">
		<a class="resume-link" href="/resume_professional.html">
			Looking for something those Human Resources Folk would like a little bit more?
		</a>
	</div>
</div>
