article {
	@include clearfix();
	margin-bottom: 2.5em;

	.post p:last-child {
		margin-bottom: 0;
	}

	header {
		@include clearfix();

		border-bottom: 1px solid $foreground-color;
		line-height: 16pt;
		height: 0.8em;
		position: relative;
		margin-bottom: 1.6em;

		* {
			background-color: $background-color;
		}

		&:hover .tags {
			height: 2em;
			border-bottom-color: $foreground-color;
		}

		.tags {
			height: 0px;
			overflow: hidden;
			clear: both;
			font-size: 9pt;
			padding-left: 2em;
			border-bottom: 1px solid $background-color;
			z-index: 5;
			position: relative;
			transition: height 0.5s, border-bottom-color 0.5s, border-bottom-width 0s 0.5s;
			-moz-transition: height 0.5s, border-bottom-color 0.5s, border-bottom-width 0s 0.5s;
			-ms-transition: height 0.5s, border-bottom-color 0.5s, border-bottom-width 0s 0.5s;
			-webkit-transition: height 0.5s, border-bottom-color 0.5s, border-bottom-width 0s 0.5s;
			-o-transition: height 0.5s, border-bottom-color 0.5s, border-bottom-width 0s 0.5s;

			.tag {
				font-size: 9pt;

				&:after {
					content: ', ';
				}

				&:first-child:before {
					content: 'tags: ';
				}

				&:last-child:after {
					content: '';
				}
			}
		}

		.timestamp {
			height: 1.2em;
			position: absolute;
			right: 0;
			top: 1pt;
			font-size: 12pt;
			line-height: 1em;
			padding-right: 0;
			padding-left: 0.5em;
			margin-right: 0;
			overflow: hidden;
			cursor: default;
			z-index: 1;

			span {
				font-size: 12pt;
				background-color: transparent;
				position: relative;
				transition: top 0.2s linear;
				-moz-transition: top 0.2s linear;
				-ms-transition: top 0.2s linear;
				-webkit-transition: top 0.2s linear;
				-o-transition: top 0.2s linear;
			}

			.time {
				position: absolute;
				top: -1.3em;
				right: 0;
			}

			.date {
				top: 0em;
			}

			&:hover {
				.time {
					top: 0em;
				}

				.date {
					top: 1.3em;
				}
			}
		}

		&:hover .categories {
			height: 2em;
			border-bottom: 1px solid #111;
			transition: height 0.5s;
			-moz-transition: height 0.5s;
			-ms-transition: height 0.5s;
			-webkit-transition: height 0.5s;
			-o-transition: height 0.5s;
		}


		h1, h2, h3, h4, h5 {
			padding-right: 0.5em;
			margin: 0;

			max-width: 70%;
			width: auto !important;
			width: 70%;

			z-index: 2;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			float: left;

			position: relative;
			transition: max-width 0.2s;
			-moz-transition: max-width 0.2s;
			-ms-transition: max-width 0.2s;
			-webkit-transition: max-width 0.2s;
			-o-transition: max-width 0.2s;

			font-size: 9pt;
			line-height: 2.1em;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 2px;

			&:hover {
				max-width: 100%;
				transition: max-width 0.2s;
				-moz-transition: max-width 0.2s;
				-ms-transition: max-width 0.2s;
				-webkit-transition: max-width 0.2s;
				-o-transition: max-width 0.2s;
			}
		}

		a {
			color: #111;
			text-decoration: none;

			&:hover {
				color: #111;
				text-decoration: underline;
			}
		}
	}

	footer {
		position: relative;
	}

	.post {
		.highlight {
			position: relative;
			padding-top: 1em;
			border-top: 1px solid $foreground-color;
			border-bottom: 1px solid $foreground-color;

			&:before {
				font-family: $font-family;
				content: 'Code';
				display: inline-block;
				position: absolute;
				top: -1em;
				background-color: $background-color;
				padding-right: 0.5em;
				font-size: 7pt;
				line-height: 2em;
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 2px;
			}

			pre {
				overflow-x: auto;
				margin: 0;
				padding-bottom: 1em;
			}
		}

		blockquote {
			color: lighten($foreground-color, 30%);
			border-left: 2px solid $foreground-color;
			margin-left: 0.8em;
			padding-left: 1em;
		}
	}
}

.readMore {
	text-transform: lowercase;
	font-size: 9pt;
	background: white;
	z-index: 2;
	float: right;

	&:hover:after {
		width: 1.5em;
		opacity: 1;
		transition: width 0.3s, opacity 0.2s 0.05s;
		-moz-transition: width 0.3s, opacity 0.2s 0.05s;
		-ms-transition: width 0.3s, opacity 0.2s 0.05s;
		-webkit-transition: width 0.3s, opacity 0.2s 0.05s;
		-o-transition: width 0.3s, opacity 0.2s 0.05s;
	}

	&:after {
		content: "\00BB";
		height: 30pt;
		font-size: 30pt;
		line-height: 4pt;
		display: inline-block;
		width: 0em;
		overflow: hidden;
		z-index: 1;
		text-align: right;
		position: absolute;
		left: 100%;
		top: 0;
		opacity: 0;
		transition: width 0.2s, opacity 0.1s;
		-moz-transition: width 0.2s, opacity 0.1s;
		-ms-transition: width 0.2s, opacity 0.1s;
		-webkit-transition: width 0.2s, opacity 0.1s;
		-o-transition: width 0.2s, opacity 0.1s;
	}
}

.pagination {
	@include clearfix();

	.previous {
		float: left;
	}

	.next {
		float: right;
	}
}
