body {
	font-family: $font-family;
	text-align: center;
	font-size: 12pt;
	max-width: 48em;
	margin: 100px auto 20px;
	padding: 0 1em;
	position: relative;
	color: $foreground-color;
	background-color: $background-color;
}

hr {
	height: 1px;
	background-color: $foreground-color;
	border: 0px;
	margin: 2.2em auto 2em auto;
	width: 92%;
}

a {
	color: $foreground-color;
	text-decoration: none;

	&:hover {
		color: $foreground-color;
		text-decoration: underline;
	}
}

.content {
	text-align: justify;


	p {
		line-height: 1.6em;
		margin: 1em 0;

		a {
			color: mix($foreground-color, $background-color, 95%);
			text-decoration: underline;
		}
	}
}

section, article {
	header {
		@include clearfix();

		border-bottom: 1px solid $foreground-color;
		line-height: 16pt;
		height: 0.8em;
		position: relative;
		margin-bottom: 1.6em;

		* {
			background-color: $background-color;
		}

		h1, h2, h3, h4, h5 {
			padding-right: 0.5em;
			margin: 0;

			max-width: 70%;
			width: auto !important;
			width: 70%;

			z-index: 2;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			float: left;

			position: relative;
			transition: max-width 0.2s;
			-moz-transition: max-width 0.2s;
			-ms-transition: max-width 0.2s;
			-webkit-transition: max-width 0.2s;
			-o-transition: max-width 0.2s;

			font-size: 9pt;
			line-height: 2.1em;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 2px;

			&:hover {
				max-width: 100%;
				transition: max-width 0.2s;
				-moz-transition: max-width 0.2s;
				-ms-transition: max-width 0.2s;
				-webkit-transition: max-width 0.2s;
				-o-transition: max-width 0.2s;
			}
		}

		a {
			color: #111;
			text-decoration: none;

			&:hover {
				color: #111;
				text-decoration: underline;
			}
		}
	}

	footer {
		position: relative;
	}
}
