@mixin clearfix() {
	*zoom: 1;

	&:before, &:after {
		display: table;
		content: "";
		line-height: 0;
		clear: both;
	}
}

@mixin hidden() {
	display: none;
}

@mixin arrow-after() {
	&:hover:after {
		width: 1.5em;
		opacity: 1;
		transition: width 0.3s, opacity 0.2s 0.05s;
		-moz-transition: width 0.3s, opacity 0.2s 0.05s;
		-ms-transition: width 0.3s, opacity 0.2s 0.05s;
		-webkit-transition: width 0.3s, opacity 0.2s 0.05s;
		-o-transition: width 0.3s, opacity 0.2s 0.05s;
	}

	&:after {
		content: "\00BB";
		height: 30pt;
		font-size: 30pt;
		line-height: 4pt;
		display: inline-block;
		width: 0em;
		overflow: hidden;
		z-index: 1;
		text-align: right;
		position: absolute;
		left: 100%;
		top: 0;
		opacity: 0;
		transition: width 0.2s, opacity 0.1s;
		-moz-transition: width 0.2s, opacity 0.1s;
		-ms-transition: width 0.2s, opacity 0.1s;
		-webkit-transition: width 0.2s, opacity 0.1s;
		-o-transition: width 0.2s, opacity 0.1s;
	}
}
