@media screen and (max-width: 480px) {
	#site-title h1 {
		text-align: center;

		.long-word {
			display: none;
		}

		.my-name {
			right: 0em;
		}
	}
}

@media print {
	@page {
		size: auto;
		margin: 10mm 10mm 10mm 10mm;
	}

	header#site-title, nav {
		display: none;
	}

	body {
		margin-top: 0;
		width: auto;
		max-width: none;
	}

	#resume {
		width: auto;
	}

	.hidden-print {
		display: none;
	}
}
