---
layout: default
title: Blog
---

{% for post in paginator.posts %}
	{% include post.html title=post.title url=post.url excerpt=post.excerpt categories=post.categories date=post.date %}
{% endfor %}

{% if paginator.total_pages > 1 %}

	<hr />

	<div class="pagination clear">
	  {% if paginator.previous_page_path %}
	    <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
	  {% endif %}

	  {% if paginator.next_page %}
	    <a href="{{ paginator.next_page_path }}" class="next">Older</a>
	  {% endif %}
	</div>
{% endif %}